#Ignore Mac system files
.DS_store

#Ignore the config.js file containing the weather api key
config.js

misc\ before\ rewriting\ the\ core\ API\ functions.js
misc_currently_debugging.js

#Ignore the node_modules
node_modules/
